{% extends "poker_host/layout.html" %}

{% block body %}

  <h1>All Players</h1>
  <br>
  <table>
    <theader>
      <tr>
        <th>S/N</th>
        <th>Name</th>
        <th>Bankroll</th>
      </tr>
    </theader>
    <tbody>
      {% for player in players %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.bankroll }}</td>
      </tr>
      {% empty %}
        <tr>
          <td>No players.</td>
        </tr>
      {% endfor %}
    <t/body>
  </table>

{% endblock %}
